/Server/Server.v12.suo
/Server/Server/bin
/Server/Server/obj
/Server/Server/Web.Debug.config
/Server/Server/Web.Release.config
/Game/Game.v12.suo
/Game/Library
/Game/obj
/Game/Temp
/Game/Assets/Plugins/BestHttp
/Game/Assets/Plugins/BestHttp.meta